In [1]:
%matplotlib inline

In [21]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import time

In [6]:
data = pd.read_csv("datathon_csv\price_data1442.csv", index_col="time")

data.head()

,Unnamed: 0,refID_coin,price,marketCap,CirculatingSupply,Volume24h,Movement1h,Movement24h
time,,,,,,,,
2018-01-17 11:25:00,0,1442,10756.0,180786170372,16807937,17884600000,-1.42,-11.40
2018-01-17 11:30:00,1442,1442,10788.1,181325705150,16807937,17865300000,-1.08,-10.91
2018-01-17 11:35:00,2884,1442,10807.5,181651779128,16807937,17891800000,-0.65,-10.75
2018-01-17 11:45:00,4326,1442,10776.1,181124548711,16807987,17712000000,-1.13,-10.58
2018-01-17 11:50:00,5768,1442,10729.7,180344658114,16807987,17645700000,-1.52,-10.74

In [67]:

data.index  = pd.to_datetime(data.index)

difference = (data.index[1] - data.index[0]).total_seconds()
print(data.index[2] + pd.Timedelta(minutes=5))

2018-01-17 11:40:00

In [64]:
# fill the empty data
def filldata(data):
    for i in range(1,len(data)):
        difference = (data.index[i] - data.index[i-1]).total_seconds()
        if difference > 300:
            break
    return data.index[i-1]

In [65]:
print(filldata(data))

2018-01-17 11:35:00