In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read the files
currency_info = pd.read_csv("currencies.txt", sep = "\t")
coin_infos = {}
for coin_id in currency_info.CoinID:
    coin_file = "datathon_csv/price_data{0}.csv".format(coin_id)
    coin_infos[coin_id] = pd.read_csv(coin_file)

In [3]:
coin_infos.keys()

dict_keys([1442, 1445, 1456, 1446, 1453, 1477, 1452, 1443, 1457, 1451, 1460, 1448, 1454, 1447, 1449, 1444, 1450, 1474, 1455, 1465])

In [4]:
btc = pd.read_csv("datathon_csv/price_data1442.csv")
btc.drop(btc.index[-7:], inplace=True)
btc.tail()

,Unnamed: 0,time,refID_coin,price,marketCap,CirculatingSupply,Volume24h,Movement1h,Movement24h
15186,23067483,3/23/2018 12:50,1442,8503.81,1.440000e+11,16934725,5312570000,0.0,0.0
15187,23069061,3/23/2018 12:55,1442,8512.09,1.440000e+11,16934725,5304280000,0.0,0.0
15188,23070639,3/23/2018 13:05,1442,8516.86,1.440000e+11,16934750,5293880000,0.0,0.0
15189,23072217,3/23/2018 13:10,1442,8505.93,1.440000e+11,16934750,5266580000,0.0,0.0
15190,23073795,3/23/2018 13:15,1442,8499.42,1.440000e+11,16934750,5254860000,0.0,0.0

In [5]:
btc = btc.drop(["Unnamed: 0", "refID_coin"], axis = 1)

In [6]:
btc.time = pd.to_datetime(btc.time)
btc = btc.set_index(btc.time).drop("time", axis = 1)

In [7]:
all_dates = pd.date_range(start = "2018/01/17 11:25:00", end = "2018/03/23 13:20:00", freq = "5Min")

In [8]:
all_dates

DatetimeIndex(['2018-01-17 11:25:00', '2018-01-17 11:30:00',
               '2018-01-17 11:35:00', '2018-01-17 11:40:00',
               '2018-01-17 11:45:00', '2018-01-17 11:50:00',
               '2018-01-17 11:55:00', '2018-01-17 12:00:00',
               '2018-01-17 12:05:00', '2018-01-17 12:10:00',
               ...
               '2018-03-23 12:35:00', '2018-03-23 12:40:00',
               '2018-03-23 12:45:00', '2018-03-23 12:50:00',
               '2018-03-23 12:55:00', '2018-03-23 13:00:00',
               '2018-03-23 13:05:00', '2018-03-23 13:10:00',
               '2018-03-23 13:15:00', '2018-03-23 13:20:00'],
              dtype='datetime64[ns]', length=18744, freq='5T')

In [9]:
#a = set(all_dates).difference(set(btc.index))

In [25]:
missing_df = pd.DataFrame(columns = btc.columns)
missing_dates = np.setdiff1d(all_dates, btc.index)
for missing_date in missing_dates:
    last_known_values = btc[btc.index < missing_date].tail(1)
    btc = btc.append(last_known_values)
btc.head()

,price,marketCap,CirculatingSupply,Volume24h,Movement1h,Movement24h
time,,,,,,
2018-01-17 11:25:00,10756.0,1.810000e+11,16807937,17884600000,-1.42,-11.40
2018-01-17 11:30:00,10788.1,1.810000e+11,16807937,17865300000,-1.08,-10.91
2018-01-17 11:35:00,10807.5,1.820000e+11,16807937,17891800000,-0.65,-10.75
2018-01-17 11:45:00,10776.1,1.810000e+11,16807987,17712000000,-1.13,-10.58
2018-01-17 11:50:00,10729.7,1.800000e+11,16807987,17645700000,-1.52,-10.74

In [ ]:
btc