In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read the files
currency_info = pd.read_csv("currencies.txt", sep = "\t")
coin_infos = {}
for coin_id in currency_info.CoinID:
    coin_file = "datathon_csv/price_data{0}.csv".format(coin_id)
    coin_infos[coin_id] = pd.read_csv(coin_file)

In [3]:
coin_infos.keys()

dict_keys([1442, 1445, 1456, 1446, 1453, 1477, 1452, 1443, 1457, 1451, 1460, 1448, 1454, 1447, 1449, 1444, 1450, 1474, 1455, 1465])

In [4]:
btc = pd.read_csv("datathon_csv/price_data1442.csv")
btc.drop(btc.index[-7:], inplace=True)
btc.tail()

,Unnamed: 0,time,refID_coin,price,marketCap,CirculatingSupply,Volume24h,Movement1h,Movement24h
15186,23067483,3/23/2018 12:50,1442,8503.81,1.440000e+11,16934725,5312570000,0.0,0.0
15187,23069061,3/23/2018 12:55,1442,8512.09,1.440000e+11,16934725,5304280000,0.0,0.0
15188,23070639,3/23/2018 13:05,1442,8516.86,1.440000e+11,16934750,5293880000,0.0,0.0
15189,23072217,3/23/2018 13:10,1442,8505.93,1.440000e+11,16934750,5266580000,0.0,0.0
15190,23073795,3/23/2018 13:15,1442,8499.42,1.440000e+11,16934750,5254860000,0.0,0.0

In [5]:
btc = btc.drop(["Unnamed: 0", "refID_coin"], axis = 1)

In [6]:
btc.time = pd.to_datetime(btc.time)
btc = btc.set_index(btc.time).drop("time", axis = 1)

In [7]:
all_dates = pd.date_range(start = "2018/01/17 11:25:00", end = "2018/03/23 13:20:00", freq = "5Min")

In [8]:
all_dates

DatetimeIndex(['2018-01-17 11:25:00', '2018-01-17 11:30:00',
               '2018-01-17 11:35:00', '2018-01-17 11:40:00',
               '2018-01-17 11:45:00', '2018-01-17 11:50:00',
               '2018-01-17 11:55:00', '2018-01-17 12:00:00',
               '2018-01-17 12:05:00', '2018-01-17 12:10:00',
               ...
               '2018-03-23 12:35:00', '2018-03-23 12:40:00',
               '2018-03-23 12:45:00', '2018-03-23 12:50:00',
               '2018-03-23 12:55:00', '2018-03-23 13:00:00',
               '2018-03-23 13:05:00', '2018-03-23 13:10:00',
               '2018-03-23 13:15:00', '2018-03-23 13:20:00'],
              dtype='datetime64[ns]', length=18744, freq='5T')

In [9]:
a = set(all_dates).difference(set(btc.index))
#missing_dates.dtype
btc.index

DatetimeIndex(['2018-01-17 11:25:00', '2018-01-17 11:30:00',
               '2018-01-17 11:35:00', '2018-01-17 11:45:00',
               '2018-01-17 11:50:00', '2018-01-17 11:55:00',
               '2018-01-17 12:00:00', '2018-01-17 12:05:00',
               '2018-01-17 12:10:00', '2018-01-17 12:15:00',
               ...
               '2018-03-23 12:20:00', '2018-03-23 12:25:00',
               '2018-03-23 12:35:00', '2018-03-23 12:40:00',
               '2018-03-23 12:45:00', '2018-03-23 12:50:00',
               '2018-03-23 12:55:00', '2018-03-23 13:05:00',
               '2018-03-23 13:10:00', '2018-03-23 13:15:00'],
              dtype='datetime64[ns]', name='time', length=15191, freq=None)

In [16]:
missing_df = pd.DataFrame(columns = btc.columns)
missing_dates = np.setdiff1d(all_dates, btc.index)

for missing_date in missing_dates:
    print (missing_date)
    #btc = btc.append(btc[btc.index < missing_date].tail(1).iloc[0])
    print(btc[btc < missing_date])
    break

2018-01-17T11:40:00.000000000
                       price     marketCap  CirculatingSupply     Volume24h  \
time
2018-01-17 11:25:00  10756.0  1.810000e+11         16807937.0  1.788460e+10
2018-01-17 11:30:00  10788.1  1.810000e+11         16807937.0  1.786530e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:45:00  10776.1  1.810000e+11         16807987.0  1.771200e+10
2018-01-17 11:50:00  10729.7  1.800000e+11         16807987.0  1.764570e+10
2018-01-17 11:55:00  10653.3  1.790000e+11         16807987.0  1.740530e+10
2018-01-17 12:00:00  10529.0  1.770000e+11         16807987.0  1.704900e+10
2018-01-17 12:05:00  10457.1  1.760000e+11         16808012.0  1.694550e+10
2018-01-17 12:10:00  10492.2  1.760000e+11         16808012.0  1.702850e+10
2018-01-17 12:15:00  10465.7  1.760000e+11         16808012.0  1.688100e+10
2018-01-17 12:20:00  10393.1  1.750000e+11         16808012.0  1.661790e+10
2018-01-17 12:25:00  10333.8  1.740000e+11         16808050.0  1.652260e+10
2018-01-17 13:00:00  10122.1  1.700000e+11         16808112.0  1.596810e+10
2018-01-17 13:05:00  10065.5  1.690000e+11         16808112.0  1.587160e+10
2018-01-17 13:10:00  10118.6  1.700000e+11         16808112.0  1.603730e+10
2018-01-17 13:15:00  10308.0  1.730000e+11         16808112.0  1.647140e+10
2018-01-17 13:20:00  10492.8  1.760000e+11         16808150.0  1.667940e+10
2018-01-17 13:25:00  10534.7  1.770000e+11         16808150.0  1.670720e+10
2018-01-17 13:30:00  10470.7  1.760000e+11         16808150.0  1.655070e+10
2018-01-17 13:35:00  10406.6  1.750000e+11         16808150.0  1.645460e+10
2018-01-17 13:40:00  10430.3  1.750000e+11         16808250.0  1.651610e+10
2018-01-17 13:45:00  10408.4  1.750000e+11         16808250.0  1.643230e+10
2018-01-17 13:50:00  10290.4  1.730000e+11         16808250.0  1.623350e+10
2018-01-17 13:55:00  10124.5  1.700000e+11         16808250.0  1.597190e+10
2018-01-17 14:00:00  10090.8  1.700000e+11         16808275.0  1.590780e+10
2018-01-17 14:05:00  10116.3  1.700000e+11         16808275.0  1.607990e+10
2018-01-17 14:10:00  10104.7  1.700000e+11         16808275.0  1.587800e+10
2018-01-17 14:15:00  10167.9  1.710000e+11         16808275.0  1.607370e+10
2018-01-17 14:25:00  10270.8  1.730000e+11         16808275.0  1.624680e+10
2018-01-17 14:30:00  10307.8  1.730000e+11         16808275.0  1.618970e+10
...                      ...           ...                ...           ...
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10
2018-01-17 11:35:00  10807.5  1.820000e+11         16807937.0  1.789180e+10

                     Movement1h  Movement24h
time
2018-01-17 11:25:00       -1.42       -11.40
2018-01-17 11:30:00       -1.08       -10.91
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:45:00       -1.13       -10.58
2018-01-17 11:50:00       -1.52       -10.74
2018-01-17 11:55:00       -2.40       -11.37
2018-01-17 12:00:00       -3.48       -12.34
2018-01-17 12:05:00       -3.77       -12.80
2018-01-17 12:10:00       -3.00       -12.55
2018-01-17 12:15:00       -3.08       -12.75
2018-01-17 12:20:00       -3.65       -13.41
2018-01-17 12:25:00       -4.23       -13.87
2018-01-17 13:00:00       -3.89       -15.96
2018-01-17 13:05:00       -3.63       -16.43
2018-01-17 13:10:00       -3.13       -16.02
2018-01-17 13:15:00       -0.82       -14.46
2018-01-17 13:20:00        1.06       -12.93
2018-01-17 13:25:00        1.93       -12.67
2018-01-17 13:30:00        1.81       -13.32
2018-01-17 13:35:00        1.31       -13.85
2018-01-17 13:40:00        1.55       -13.76
2018-01-17 13:45:00        1.57       -14.00
2018-01-17 13:50:00        0.90       -15.12
2018-01-17 13:55:00       -0.61       -16.49
2018-01-17 14:00:00       -0.59       -16.88
2018-01-17 14:05:00       -0.97       -16.69
2018-01-17 14:10:00       -1.09       -16.82
2018-01-17 14:15:00       -1.03       -16.30
2018-01-17 14:25:00       -1.13       -15.45
2018-01-17 14:30:00       -1.27       -15.14
...                         ...          ...
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75
2018-01-17 11:35:00       -0.65       -10.75

[18771 rows x 6 columns]

In [12]:
btc.groupby("time").count()

,price,marketCap,CirculatingSupply,Volume24h,Movement1h,Movement24h
time,,,,,,
2018-01-17 11:25:00,1,1,1,1,1,1
2018-01-17 11:30:00,1,1,1,1,1,1
2018-01-17 11:35:00,3578,3578,3578,3578,3578,3578
2018-01-17 11:45:00,1,1,1,1,1,1
2018-01-17 11:50:00,1,1,1,1,1,1
2018-01-17 11:55:00,1,1,1,1,1,1
2018-01-17 12:00:00,1,1,1,1,1,1
2018-01-17 12:05:00,1,1,1,1,1,1
2018-01-17 12:10:00,1,1,1,1,1,1
2018-01-17 12:15:00,1,1,1,1,1,1
2018-01-17 12:20:00,1,1,1,1,1,1
2018-01-17 12:25:00,1,1,1,1,1,1
2018-01-17 13:00:00,1,1,1,1,1,1
2018-01-17 13:05:00,1,1,1,1,1,1
2018-01-17 13:10:00,1,1,1,1,1,1
2018-01-17 13:15:00,1,1,1,1,1,1
2018-01-17 13:20:00,1,1,1,1,1,1
2018-01-17 13:25:00,1,1,1,1,1,1
2018-01-17 13:30:00,1,1,1,1,1,1
2018-01-17 13:35:00,1,1,1,1,1,1
2018-01-17 13:40:00,1,1,1,1,1,1
2018-01-17 13:45:00,1,1,1,1,1,1
2018-01-17 13:50:00,1,1,1,1,1,1
2018-01-17 13:55:00,1,1,1,1,1,1
2018-01-17 14:00:00,1,1,1,1,1,1
2018-01-17 14:05:00,1,1,1,1,1,1
2018-01-17 14:10:00,1,1,1,1,1,1
2018-01-17 14:15:00,1,1,1,1,1,1
2018-01-17 14:25:00,1,1,1,1,1,1
2018-01-17 14:30:00,1,1,1,1,1,1
...,...,...,...,...,...,...
2018-03-23 10:25:00,1,1,1,1,1,1
2018-03-23 10:30:00,1,1,1,1,1,1
2018-03-23 10:35:00,2,2,2,2,2,2
2018-03-23 10:40:00,1,1,1,1,1,1
2018-03-23 10:45:00,1,1,1,1,1,1
2018-03-23 10:50:00,1,1,1,1,1,1
2018-03-23 10:55:00,1,1,1,1,1,1
2018-03-23 11:00:00,1,1,1,1,1,1
2018-03-23 11:10:00,1,1,1,1,1,1
2018-03-23 11:15:00,1,1,1,1,1,1
2018-03-23 11:20:00,1,1,1,1,1,1
2018-03-23 11:25:00,1,1,1,1,1,1
2018-03-23 11:35:00,1,1,1,1,1,1
2018-03-23 11:40:00,1,1,1,1,1,1
2018-03-23 11:45:00,1,1,1,1,1,1
2018-03-23 11:50:00,1,1,1,1,1,1
2018-03-23 11:55:00,1,1,1,1,1,1
2018-03-23 12:05:00,1,1,1,1,1,1
2018-03-23 12:10:00,1,1,1,1,1,1
2018-03-23 12:15:00,1,1,1,1,1,1
2018-03-23 12:20:00,1,1,1,1,1,1
2018-03-23 12:25:00,1,1,1,1,1,1
2018-03-23 12:35:00,1,1,1,1,1,1
2018-03-23 12:40:00,1,1,1,1,1,1
2018-03-23 12:45:00,1,1,1,1,1,1
2018-03-23 12:50:00,1,1,1,1,1,1
2018-03-23 12:55:00,1,1,1,1,1,1
2018-03-23 13:05:00,1,1,1,1,1,1
2018-03-23 13:10:00,1,1,1,1,1,1
2018-03-23 13:15:00,1,1,1,1,1,1